<select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
  <option value="" [selected]="!currentDevice">No Device Selected</option>
  <option *ngFor="let device of availableDevices" [value]="device.deviceId"
    [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
</select>

<zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
[formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
(camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

<section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
</section>
