<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false">
      <div class="row invoive-info">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary" (click)="addPart()"><i
            class="feather icon-file-plus"></i>Add</button>
        <button type="button" class="btn btn-secondary" (click)="editPart(this.selectedPartId)"><i
            class="feather icon-edit"></i>Update</button>
          </div>
      </div>
      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="hil_code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> HIL Code </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="hil_code"> {{element.hil_code}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="part_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Part Name </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="part_name"> {{element.part_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="part_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Part No </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="part_no"> {{element.part_no}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="material_code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Material Code </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="material_code"> {{element.material_code}} </mat-cell>
        </ng-container>

         <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="actions"></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns" (click)="highlight(element)"
          (dblclick)="openPart(element.id)" [ngClass]="{'highlight': selectedRowIndex == element.id}">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </app-card>
  </div>
</div>
