<div class="row">
  <div class="col-sm-12">
    <app-card [options]="false">
      <div class="row invoive-info">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary" (click)="addPart()"><i
            class="feather icon-file-plus"></i>Add</button>
        <button type="button" class="btn btn-secondary" (click)="editPart(this.selectedPartId)"><i
            class="feather icon-edit"></i>Update</button>
          </div>
      </div>
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Progress Column -->
        <ng-container matColumnDef="equipmentName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Name </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="equipmentName"> {{element.equipmentName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="processName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Process Name </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="processName"> {{element.processName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="manufacturer">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="manufacturer"> {{element.manufacturer}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modelName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="modelName"> {{element.modelName}} </mat-cell>
        </ng-container>

         <!-- <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="actions"></mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns" (click)="highlight(element)"
          (dblclick)="openPart(element.id)" [ngClass]="{'highlight': selectedRowIndex == element.id}">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </app-card>
  </div>
</div>
