<mat-dialog-content class="mat-typography">
  <div class="card">
    <div class="card-header"></div>
    <div class="col-sm-12">
      <h4>Part Set</h4>
      <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="partset_code">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Part Set Code </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="partset_code"> {{element.partset_code}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="parts">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Parts </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="parts">
            <ul>
              <li *ngFor="let part of element.parts; let i = index">
                {{i+1}} - {{part.name}}
              </li>
            </ul>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns"
          (dblclick)="chooseSchedule(element.id,element.partset_code)" [ngClass]="{'highlight': selectedRowIndex == element.id}">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
